model/model-hydra_lr-0.0005_ep-20.pth filter=lfs diff=lfs merge=lfs -text
model/model-alex_lr-0.001_ep-20.pth filter=lfs diff=lfs merge=lfs -text
model/model-hydra_lr-0.001_ep-20.pth filter=lfs diff=lfs merge=lfs -text
